.awais{
    background-color: gray;
    width: 750x;
    height: 400px;
}
.main{
    background-color: white;
    width: 700px;
    height: 30px;
  margin-top: -390px;
  margin-left: 60px;
}
.aaa{
    background-color: blue;
    width: 700px;
    margin-left: 60px;
}
.qqq{
    background-color: rgb(120, 120, 255);
    width: 700px;
    margin-left: 60px;
}
.www{
    background-color: rgb(121, 121, 208, 0.952);
    width: 700px;
    margin-left: 60px;
}
.zzz{
    background-color: rgba(80, 80, 211, 0.91);
    width: 700px;
    margin-left: 60px;;
}
.sss{
    background-color: rgba(154, 154, 221, 0.952);
    width: 700px;
    margin-left: 60px;
}
.mmm{
    background-color: rgb(121, 121, 208, 0.952);
    width: 700px;
    margin-left: 60px;
}
.ppp{
    background-color: rgba(109, 109, 153, 0.952);
    width: 700px;
    margin-left: 60px;
}
.lll{
    background-color: rgba(92, 250, 0, 0.952);
    width: 700px;
    margin-left: 60px;
}
.ooo{
    background-color: rgb(236, 181, 190);
    width: 700px;
    margin-left: 60px;
}
.bbb{
    background-color: rgb(240, 130, 149);
    width: 700px;
    margin-left: 60px;
}
.yyy{
    background-color: rgb(243, 101, 124);
    width: 700px;
    margin-left: 60px;
}
.gf{
    background-color: rgb(249, 55, 87);
    width: 700px;
    margin-left: 60px;
}
.uuo{
    background-color: rgb(222, 20, 54);
    width: 700px;
    margin-left: 60px;
}
.fff{
    background-color: rgb(194, 12, 42);
    width: 700px;
    margin-left: 60px;
}
.zzzz{
    background-color: rgb(255, 0, 43);
    width: 700px;
    margin-left: 60px;
}
.name{
    margin-left: 10px;
    margin-top: 50px;
}